.trampita{
    width: 360px;
    height: 20px;
    background-color: #F6F8FA;
}

.container-customer-registration {
    position: relative;
    width: 360px;
    height: 300px;
    background-color: #F6F8FA;
    text-align: center;
}

.container-icon {
    margin-left: 105px;
    background-color: #E6EFF8;
    height: 138px;
    width: 138px;
    border-radius: 50%;
    margin-top: 50px;
}

.faPenSquareIcon {
    position: relative;
    top: 37px;
    font-size: 60px;
    color: #a2a7ac;
}

.text-no-records {
    width: 223px;
    height: 21px;
    margin-top: 24px;
    margin-left: 68px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 21px;

    color: #858585;

    letter-spacing: -0.0384615px;
}