.header-container {
    position: relative;
    width: 360px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin-top: -10px;
}

.icon-BdB {
    position: absolute;
    height: 48px;
    left: 160px;
}

.xclose {
    position: absolute;
    font: message-box;
    margin-top: 10px;
    left: 330px;
    font-size: 30px;
    color: #0040A8;
}